.custom-background {
  background-image: url("assets/speakwise-bg2.avif");
  background-size: cover;
  background-position: center;
}
.custom-background2 {
  background-image: url("assets/mentor-bg.jpg");
  background-size: cover;
  background-position: center;
}
